# Dependencies
node_modules
npm-debug.log*

# Testing
coverage
.nyc_output

# Next.js
.next/
out/
build

# Production
dist

# Misc
.DS_Store
*.pem

# Debug
*.log
.pnpm-debug.log*

# Local env files
.env
.env*.local
.env.production

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea
.vscode
*.swp
*.swo
*~

# Git
.git
.gitignore

# Documentation
*.md
!README.md

# Docker
Dockerfile
docker-compose.yml
.dockerignore
